.container{
 background-color: #f9f9f9;
 margin: 0;
 height: 100vh;
}

menu{
    padding: 20px 0;
}
menu ul{
    list-style-type: none;
    /* border: solid black; */
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

menu ul img{
    width: 25px;
    position: relative;
    top: 2px;
    right: 40px;
}
menu ul a{
    text-decoration: none;
    font-weight: 500;
    color: black;
}

/* header */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.background{
    width: 220px;
    height: 220px;
    overflow: hidden;
   
}
.background .redLine{
    width: 1000px;
    height: 100px;
    background-color: rgb(211, 0, 0);
    transform: rotate(-23deg);
    position: relative;
    top: -65px;
    right: 100px;
}

.profile{
    width: 110px;
    height: 110px;
    position: relative;
    left: 50px;
    top: 10px;
    background-image: url("../images/me.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110%;
    border-radius: 40px;
}

.profile img{
    width: 18px;
    padding: 8px;
    border-radius: 17px;
    background-color: rgb(0, 179, 234);
    position: relative;
    bottom: 0px;
    left: 50px;
}

.details{
    width: 100vw;
    /* border: solid 1px ; */
    display: flex;
    justify-content: space-around;
    margin: 40px ;
}
.details h4{
    color: rgb(107, 107, 107);
    margin-bottom: 10px;
}

.details p{
    font-weight: bold;
}

/* section */

section{
    text-align: right;
    background-color: #f9f9f9;
    padding-bottom: 100px;
}

section h2{
    margin-right: 20px;
    color: rgb(70, 70, 70);
}

.steps{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}

.steps a {
    color: rgb(100, 100, 100);
    font-weight: bold;
}

.steps1{
    background-color: rgb(82, 191, 228);
    width: 100px;
    height: 140px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
} 

.steps2{
    background-color: aquamarine;
    width: 100px;
    height: 140px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
} 

.steps img{
    width: 30px;
    background-color: #dbdbdb;
    border-radius: 5px;
    padding: 2px;
}

.buy{
    text-decoration: none;
    font-weight: bold;
    color: rgb(71, 71, 71);
    padding: 10px;
    position: relative;
    top: 60px;
    right: 10px;
    border: dashed 1px silver;
    border-radius: 10px;
    display: inline-block;
    width: 91vw;
    text-align: center;
    transition: 0.2s;
}

.buy:hover{
    background-color: white;
    box-shadow: 0 0 5px 1px silver;
}